.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  width: 70%;
  margin: auto;
}

.card-container {
  flex: 1;
  /*border: 2px dashed red;*/
  margin: 2px;
}

.card {
  padding: 0 5px 5px 5px;
  /*outline: dashed 2px goldenrod;*/
  margin: 5px 5px 5px 5px;
}

.card-footer {
  padding: 1%;
}

.card-footer button {
  font-size: large;
}

.card-meta {
  padding: 1%;
  color: gray;
  font-style: italic;
}

.card-info div {
  padding: 2px;
}

.card-info p {
  font-size: larger;
}

.card-active {
  background-color: lightskyblue;
}

.card-disabled {
  background-color: lightgray;
}

div h2 {
  text-align: center;
}

.placeholder {
  color: darkgray;
  text-align: center;
  font-size: large;
  padding: 10px;
}
.placeholder:after {
  content: 'The content is empty.';
}
